/* Copyright 2022-2024 Yoshiya Hinosawa. All rights reserved. MIT license. */
/* Copyright 2021 PixelCraft. All rights reserved. MIT license. */

#canvas {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  max-width: 550px;
  cursor: crosshair;
  touch-action: none;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.board .mini-canvas-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

.board .mini-canvas-wrapper span {
  padding: 16px;
  background-color: #554455;
  border-radius: 50%;
}
